# Archivos y directorios de Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Archivos compilados
assets/css/tailwind.min.css

# Archivos de entorno
.env
.env.*
!.env.example

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de caché
*.log
*.sql
*.sqlite

# Archivos de WordPress que no deberían estar en el control de versiones
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php